<%- include("partials/header"); -%>
    <h1>About</h1>
    <img src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-0/p526x296/154371677_1899663923542660_7520665354581364787_o.jpg?_nc_cat=104&ccb=3&_nc_sid=730e14&_nc_ohc=dd9WgnVp3xMAX_XQvj8&_nc_ht=scontent-mia3-1.xx&tp=6&oh=fba0801cb2f2e63721a804452a5e5c7a&oe=605E6F25" class="img-fluid" alt="Nigina Image">
    <h3 class="about"> <%= aboutContent %> </h3>
<%- include("partials/footer"); -%>
